.afl_breadcrumbs_container {
    background: #fece4b;
    position: relative;
    top: -8px;
    z-index: 0;
    @media screen and (max-width: 768px) {
        > .container {
            max-width: 100%;
        }
    }
    .afl_breadcrumbs_wrapper {
        min-height: 30px;
        margin-left: 15px;
        margin-right: 15px;
        .afl_breadcrumbs_body {
            width: 100%;
            min-height: 30px;
            background: #fece4b;
            margin-left: -10px;
            .breadcrumb {
                background-color: transparent;
                font-size: 11px;
                padding: 8px 0;
                maring-bottom: 0;
                a {
                    font-size: 11px;
                    color: #333333;
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                        color: #014dd4;
                    }
                }
                > {
                    li+li::before {
                        color: #333333;
                        content: "\2192";
                        padding: 0 5px;
                        position: relative;
                        left: -4px;
                    }
                    .active {
                        color: #333333;
                    }
                }
                li {
                    padding-right: 5px;
                }
            }
        }
    }

}