.afl_navigation_menu_block {
    position: relative;
    margin: 8px 0 16px;
    box-shadow: 0 0 3px 0 #b4b4b4;
    width: 100%;
    padding: 13px 0;
    background: #ffffff;

    @media screen and (max-width: 767px) {
        &.sidebar {
            width: 100vw;
            overflow: hidden;
            position: absolute;
            z-index: 200;
            transition: left 0.4s;
            left: -100vw;
            margin-top: -8px;
            &.in {
                left: 0vw;
            }
            .afl_item {
                &.afl_has_child {
                    .afl_navigation_child_holder {
                        position: relative;
                        color: red !important;
                        left: 0;
                    }
                    &.afl_one_line .afl_navigation_child_holder,
                    &.afl_two_lines .afl_navigation_child_holder {
                        top: 0;
                        display: block;
                    }
                    .afl_navigation_child_holder .afl_navigation_child {
                        position: relative;
                        box-shadow: none;
                        border: 0;
                        padding: 5px 20px;
                        a.afl_bold_item {
                            font-weight: normal;
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }
                    >a:before {
                        content: none;
                    }
                }
                >a {
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
        nav {
            ul {
                display: none;
            }
            .afl_navigation_menu_block-head {
                display: block;
                overflow: hidden;
                height: 24px;
                cursor: pointer;
                background: url(#{$assetsDomain}/bundles/sipresource/img/arrow.png) 99% 50% no-repeat;
                background-size: contain;
                margin-bottom: 15px;
            }
        }
    }

    .afl_navigation_menu_block-head {
        color: #000;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        line-height: normal;
        padding: 0 0 0 15px;
        text-transform: uppercase;
    }
    > nav > ul {
        margin: 0 0 16px !important;
    }
    .afl_item {
        position: relative;
        &.afl_has_child {
            &.afl_one_line {
                .afl_navigation_child_holder {
                    top: -26px;
                }
                >a:before {
                    top: 10px;
                }
            }
            &.afl_two_lines {
                .afl_navigation_child_holder {
                    top: -13px;
                }
                >a:before {
                    top: 23px;
                }
            }
            &.afl_three_lines {
                .afl_navigation_child_holder {
                    top: -8px;
                }
                >a:before {
                    top: 28px;
                }
            }
            >a:before {
                content: "";
                position: absolute;
                border: 5px solid transparent;
                border-left-color: #cccccc;
                right: 15px;
            }
            .afl_navigation_child_holder {
                display: none;
                padding-left: 10px;
                position: absolute;
                left: 150px;
                z-index: 90;
                .afl_navigation_child {
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                    border: 1px solid #dcdcdc;
                    position: relative;
                    background: #ffffff;
                    padding: 20px;
                    &:before {
                        position: absolute;
                        z-index: 100;
                        top: 30px;
                        content: "";
                        left: -20px;
                        border: 10px solid transparent;
                        border-right-color: #ffffff;
                    }
                    &:after {
                        position: absolute;
                        z-index: 85;
                        top: 38px;
                        content: "";
                        left: -6px;
                        width: 5px;
                        height: 5px;
                        background: #ffffff;
                        box-shadow: (-4px) 0 8px 0 rgba(0, 0, 0, 0.2);
                    }
                    ul>li:first-child>a:first-child {
                        margin-top: 0;
                    }
                    a {
                        text-decoration: none;
                        display: block;
                        margin: 6px 0 0;
                        color: #5d5d5d;
                        white-space: nowrap;
                        word-wrap: normal;
                        &.afl_bold_item {
                            font-size: 14px;
                            font-weight: bold;
                            margin: 13px 0 0;
                            color: #373737;
                        }
                        &:hover,
                        &.active {
                            color: #015aff;
                        }
                    }
                }
            }
            &:hover {
                .afl_navigation_child_holder {
                    display: block;
                }
                a {
                    color: #015aff;
                }
            }
        }
        >a {
            padding: 8px 10px 8px 16px;
            display: block;
            text-decoration: none;
            color: #444444;
            &:hover {
                text-decoration: none;
                color: #015aff;
            }
        }
        &.afl_item_active>span {
            padding: 8px 10px 8px 16px;
            display: block;
            text-decoration: none;
            color: #444444;
            background: #e5eff7;
            cursor: default;
        }
    }
}