
.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.navbar-toggler {
    &.custom-toggler {
        transform: scale(0.7);
        position: absolute;
        right: 10px;
        top: 12px;
        outline: none !important;
    }
}
.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.animated-icon span {
    background: #f3e5f5;
}


.animated-icon span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.animated-icon span:nth-child(2) {
    top: 10px;
    transform-origin: left center;
}

.animated-icon span:nth-child(3) {
    top: 20px;
    transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}
